# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
storage/*
data/*
!data/MultipleFaces.jpg
!data/TestImage.jpg
!data/TestImage2.jpg
!data/TestImage3.jpg
!data/TestImage4.jpg
!data/TestImage5.jpg
!data/TestImage6.jpg
!data/TestImage7.jpg
!data/TestImage8.jpg
!data/TestImage9.jpg
!data/TestImage10.jpg
!data/TestImage11.jpg
!data/TestImage12.jpg
!data/TestImage13.jpg
!data/TestImage14.jpg
!data/TestImage15.jpg
!data/TestImage16.jpg
!data/TestImage17.jpg
!data/TestImage18.jpg
!data/TestImage19.jpg
!data/TestImage20.jpg
!data/TestImage21.jpg
!data/TestImage22.jpg
!data/TestImage23.jpg
!data/TestImage24.jpg
!data/TestImage25.jpg
!data/TestImage26.jpg
!data/TestImage27.jpg
!data/TestImage28.jpg
!data/TestImage29.jpg
!data/TestImage30.jpg
!data/TestImage31.jpg
!data/TestImage32.jpg
!data/TestImage33.jpg
!data/TestImage34.jpg
!data/TestImage35.jpg
!data/TestImage36.jpg
!data/TestImage37.jpg
!data/TestImage38.jpg
!data/TestImage39.jpg
!data/TestImage40.jpg
!data/TestImage41.jpg
!data/TestImage42.jpg
!data/TestImage43.jpg
!data/TestImage44.jpg
!data/TestImage45.jpg
!data/TestImage46.jpg
!data/TestImage47.jpg
!data/TestImage48.jpg
!data/TestImage49.jpg
!data/TestImage50.jpg
!data/TestImage51.jpg
!data/TestImage52.jpg
!data/TestImage53.jpg
!data/TestImage54.jpg
!data/TestImage55.jpg
!data/TestImage56.jpg
!data/TestImage57.jpg
!data/TestImage58.jpg
!data/TestImage59.jpg
!data/TestImage60.jpg
!data/TestImage61.jpg
!data/TestImage62.jpg
!data/TestImage63.jpg
!data/TestImage64.jpg
!data/TestImage65.jpg
!data/TestImage66.jpg
!data/TestImage67.jpg
!data/TestImage68.jpg
!data/TestImage69.jpg
!data/TestImage70.jpg
!data/TestImage71.jpg
!data/TestImage72.jpg
!data/TestImage73.jpg
!data/TestImage74.jpg
!data/TestImage75.jpg
!data/TestImage76.jpg
!data/TestImage77.jpg
!data/TestImage78.jpg
!data/TestImage79.jpg
!data/TestImage80.jpg
!data/TestImage81.jpg
!data/TestImage82.jpg
!data/TestImage83.jpg
!data/TestImage84.jpg
!data/TestImage85.jpg
!data/TestImage86.jpg
!data/TestImage87.jpg
!data/TestImage88.jpg
!data/TestImage89.jpg
!data/TestImage90.jpg
!data/TestImage91.jpg
!data/TestImage92.jpg
!data/TestImage93.jpg
!data/TestImage94.jpg
!data/TestImage95.jpg
!data/TestImage96.jpg
!data/TestImage97.jpg
!data/TestImage98.jpg
!data/TestImage99.jpg
!data/TestImage100.jpg

# Logs
*.log 